body {
	color:white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-color: black;
    max-width: 960px;
    margin: auto;
}

.header {
	display:block;
	width: 100%;
}

.title {
	float: left;
	color: #DDD;
	font-size: 20px;
	padding-left: 65px;
	padding-top: 4px;
    margin-left: 5px;
    margin-top: 2px;
	background: url('allsky-logo.png') left center;
	background-size: 57px;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
	height: 35px;
}

.info {
	padding: 8px;
	position: fixed;
	top: 150px;
	right: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #333;
    border: 2px solid #888;
	border-right: none;
}

.info ul {
	list-style: none;
	padding-left: 10px;
    margin-bottom: 0;
}

.info ul li i {
	margin-right: 3px;
}

#sidebar {
	position: fixed;
    left: 0;
    top: 150px;
    padding: 0;
    padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #333;
	border: 2px solid #888;
	border-left: none;
	z-index: 2;
}

#sidebar li {
	list-style: none;
	padding: 2px 0
}

#sidebar li i {
	cursor: pointer;
	color: #888;
	margin: 2px 0;
}

#sidebar li i:hover,
#sidebar li i.active {
	color: orange;
}

.notification {
	margin-left: 10px;
}

#imageContainer {
	text-align: center;
}

img.current {
	width: 100%;
	max-width: 960px;
}

#starmap_container {
	position: absolute;
	opacity: 0.45;
	overflow: hidden;
	height: 720px;
}

.starmap_credit {
	display: none !important;
}

.diy {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.diy a {
	color: white;
}

.back-button {
	text-decoration: none;
	margin: 5px;
	padding: 5px 10px;
	color: white;
	background-color: #5D5D5D;
	border-radius: 5px;
	display: inline-block;
}

.back-button i {
	margin-right: 5px;
}

.archived-videos {
}

.archived-videos .day-container{
	width: 10%;
	min-width: 100px;
	float: left;
	padding: 10px;
}

.archived-videos .day-container .image-container {
	height: 90px;
}

.archived-videos .day-container .image-container img{
	width: 100%;
	max-height: 100%;
}

.forecast {
	padding: 9px;
}

.forecast-day {
    font-weight: bold;
	margin: 0 3px;
}

.forecast .Low {
    color: green;
}

.forecast .Active {
    color: yellow;
}

.forecast .High {
    color: darkorange;
}

.forecast .Extreme {
	color: red;
}

.forecast-map {
	width: 75%;
	max-width: 800px;
	margin-top: 30px;
}
