body {
	color:white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background-color: black;
    max-width: 960px;
    margin: auto;
}

.header {
	display:block;
	width: 100%;
}

.title {
	float: left;
	color: #DDD;
	font-size: 26px;
	padding-left: 42px;
    margin-left: 5px;
    margin-top: 2px;
	background: url('allsky-logo.png') left center;
	background-size: 35px;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.menu {
	float: left;
	margin: 6px 5px 5px 12px;
}

.menu i {
	cursor: pointer;
	color: #6C58D0;
	margin: 0 4px;
}

.menu i:hover,
.menu i.active {
	color: orange;
}

.info {
	padding: 8px;
	position: fixed;
	top: 80px;
	left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #333;
	border: 2px solid #555;
	border-left: none;
}

.info ul {
	list-style: none;
	padding-left: 10px;
    	margin-bottom: 0;
}

.info ul li i {
	margin-right: 3px;
}

.notification {
	margin-left: 10px;
}

.date-picker-container{
	position: fixed;
	bottom: 0px;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	margin-bottom: 40px;
}

input, select {
	color: black;
}

#imageContainer {
	text-align: center;
}

img.current {
	width: 100%;
	max-width: 960px;
}

#starmap_container {
	position: absolute;
	opacity: 0.45;
	overflow: hidden;
	height: 720px;
}

#starmap_container #starmap{
	margin-top: -133px;
}

.starmap_credit {
	display: none !important;
}

.back-button {
	text-decoration: none;
	margin: 5px;
	padding: 5px 10px;
	color: white;
	background-color: #5D5D5D;
	border-radius: 5px;
	display: inline-block;
}

.back-button i {
	margin-right: 5px;
}

.archived-videos {
}

.archived-videos div{
	width: 10%;
	min-width: 100px;
	float: left;
	padding: 10px;
}

.archived-videos div img{
	width: 100%;
}

.forecast {
	padding: 9px;
}

.forecast-day {
    font-weight: bold;
	margin: 0 3px;
}

.forecast .Low {
    color: green;
}

.forecast .Active {
    color: yellow;
}

.forecast .High {
    color: darkorange;
}

.forecast .Extreme {
	color: red;
}

.forecast-map {
	width: 75%;
	max-width: 800px;
	margin-top: 30px;
}
